@{
    ViewBag.Title = "Message";
}

<base href="/message" />
<div data-ng-app="messageModule">
    <div data-ng-view></div>
</div>

@section scripts
{
    <script src="/Scripts/app/message/message-main.js"></script>
}