<div class="nav navbar-nav navbar-left" id="user-status"></div>

<div class="nav navbar-nav navbar-left" style="width: 100%;">
    <div class="list-group" id="connected-users" style="width: 100%;"></div>
</div>

<div class="panel panel-default" id="FloatingChat" style="position:absolute; width:350px; left:100px; top:100px; visibility:hidden;">

    <div id="titleBar" class="panel-heading" onmousedown='chatdrag.startMoving(this,"container",event);' onmouseup='chatdrag.stopMoving("container");' style="cursor:move; padding: 15px 15px 12px 15px; background-color:#eee; width:100%; position:relative;">
        <div class="chatTitle" style="margin-right:30px; padding-left:3px;">
            <font color="#222">Layer Title</font>
        </div>
        <div id="closeX" style="position:absolute; right:5px; top:0px;">
            <a href="#" onClick="this.parentNode.parentNode.parentNode.style.visibility='hidden'; return false;" style="text-decoration:none"><font color="#333">×</font></a>
        </div>
    </div>

    <div id="floatingContent" class="panel-body" style="padding:3px; background-color:#EEEEEE; color:#333333;">
	    <div class="list-group-item" id="overflow-chat" style="height: 250px; overflow: auto;">
            <!-- here goes the content of the chat window -->
            <div class="message-list"></div>
        </div>

        <div class="list-group-item">
            <div class="text-box"></div>
        </div>
    </div>
</div>
