
@{
    ViewBag.Title = "Categories";
}

<h2>Index</h2>

<base href="/category"/>
<div data-ng-app="categoryModule">
    <div data-ng-view></div>
</div>

@section scripts
{
    <script src="/Scripts/app/category/category-main.js"></script>
}

