<div>
    Create
</div>
<div>
    <form method="POST" role="form" data-ng-submit="SaveMessage(message)">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" data-ng-model="message.Title" />
        </div>
        <div class="form-group">
            <label for="title">Content</label>
            <textarea class="form-control" id="content" data-ng-model="message.Content"></textarea>
        </div>
        <div>
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </form>
</div>