<!--<div>
    Detail
</div>-->
<div>
    <!--<div>
        <label>Id</label>
        <label>{{message.id}}</label>
    </div>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="list-group-item-heading">{{message.title}}</h3>
            Created by: {{message.createdBy}}, {{message.createdDate | date : mediumDate}}
        </div>

        <div class="panel-body">
            {{message.content}}

            <br><br>

            Files:
            <div class="list-group">
                <div class="list-group-item">
                    No files attached
                </div>
            </div>

            Tags:
            <div class="list-group">
                <div class="list-group-item">
                    No tags specified
                </div>
            </div>

            <div class="list-group">
                <div class="list-group-item active">
                    Comments
                </div>
                <div class="list-group-item" ng-init="toggle = false">
                    <!--ng-show toggle: {{ toggle }}-->
                    <div class="list-group" data-ng-repeat="comment in message.commentList">
                        <div class="list-group-item" data-ng-hide="!toggle && $index > 2">
                            {{comment.value}}
                            <h6 class="list-group-item-text">{{comment.createdBy}}, {{comment.createdDate}}</h6>
                        </div>
                    </div>

                    <h5 class="text-center" data-ng-show="message.commentList.length <= 0">No comments<br></h5>

                    <div class="text-center" data-ng-show="message.commentList.length > 3">
                        <!-- initialized more than 0. change when there's more comments and u have to hide some of them -->
                        <button type="button" class="btn btn-primary center-block" ng-show="!toggle" ng-click="toggle = true">Load More</button>
                        <button type="button" class="btn btn-primary center-block" ng-show="toggle" ng-click="toggle = false">Load Less</button>
                        <br><br>
                    </div>

                    <div class="list-group">
                        <div class="list-group-item">
                            <form role="form" method="POST" data-ng-submit="SaveComment(message.newComment)">
                                <textarea class="form-control" placeholder="New comment" ng-model="message.newComment.value"></textarea><br>
                                <input type="submit" value="Post Comment" class="btn btn-primary" style="float: right;" /><br><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row">
        <div data-ng-repeat="comment in comments">
            <div>
                <label>{{comment.createdByName}}</label>
                <label>{{comment.value}}</label>
                <label>{{comment.CreatedDate | date : mediumDate}}</label>
            </div>
        </div>
    </div>-->
    <div>
        <a data-ng-href="/Message" class="btn btn-primary">Back To List</a>
    </div>
</div>
