<!--<div>
    Detail
</div>-->
<div>
    <!--<div>
        <label>Id</label>
        <label>{{message.id}}</label>
    </div>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="list-group-item-heading">{{message.title}}</h3>
            Created by: {{message.createdBy}}, {{message.createdDate | date : mediumDate}}
        </div>

        <div class="panel-body">
            {{message.content}}

            <br><br>

            Files:
            <div class="list-group">
                <div class="list-group-item">
                    No files attached
                </div>
            </div>

            Tags:
            <div class="list-group">
                <div class="list-group-item">
                    No tags specified
                </div>
            </div>

            <div class="list-group">
                <div class="list-group-item active">
                    Comments
                </div>
                <div class="list-group-item">
                    <div class="list-group">
                        <div class="list-group-item">
                            Lorem ipsum dolor sit amet.
                            <h6 class="list-group-item-text">NMCUNI, 05/05/2015</h6>
                        </div>
                        <div class="list-group-item">
                            wtf u talkin' bout, bro?
                            <h6 class="list-group-item-text">DHOFF, 05/06/2015</h6>
                        </div>
                        <div class="list-group-item">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary center-block">Load More</button>
                            </div>
                        </div>
                    </div>

                    <div class="list-group">
                            <!--<div class="list-group-item active">
                                New Comment
                            </div>-->
                            <div class="list-group-item">
                                    <textarea class="form-control" placeholder="New comment"></textarea><br>
                                    <button type="button" class="btn btn-primary" style="float:right;">Post comment</button><br><br>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row">
        <div data-ng-repeat="comment in comments">
            <div>
                <label>{{comment.createdByName}}</label>
                <label>{{comment.value}}</label>
                <label>{{comment.CreatedDate | date : mediumDate}}</label>
            </div>
        </div>
    </div>-->
    <div>
        <a data-ng-href="/Message" class="btn btn-primary">Back To List</a>
    </div>
</div>
