<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="list-group-item-heading">Search</h4>
    </div>

    <div class="panel-body">

        <form method="GET" role="form" data-ng-submit="SearchMessages()">

            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Title" data-ng-model="searchCriteria.Title" />
                </div>

                <div class="col-sm-4">
                    <select class="form-control" data-ng-model="searchCategory" data-ng-options="category.id as category.name for category in categoryList" style="float:right;">
                        <option value="">Select Category</option>
                    </select>
                </div>

                <div class="col-sm-2">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Tags" data-ng-model="searchCriteria.Tag" />
                </div>
                <div class="col-sm-4">
                    <select class="form-control" data-ng-model="searchSubcategory" data-ng-options="subCategory.id as subCategory.name for subCategory in subcategoryList | secondDropdown: searchCategory" style="float:right;">
                        <option value="">Select Sub Category</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" style="float:right;">Search</button>
                </div>
                <p><br></p>
            </div>
        </form>

    </div>
</div>

<div class="list-group" data-ng-repeat="message in messages">
    <a data-ng-href="/Message/Detail/{{message.id}}" class="list-group-item">
        <h4 class="list-group-item-heading">{{message.title}}</h4>
        <h5 class="list-group-item-text">{{message.contentConcat}}</h5>
        <hr style="margin-top: 10px; margin-bottom: 10px;"/>
        <h6 class="list-group-item-text" style="color: #999999;">{{message.createdBy}} - <i>{{message.createdDate | date : mediumDate}}</i></h6>
    </a>
</div>
<pagination boundary-links="true" total-items="pageInfo.TotalRecords" ng-model="pageInfo.Page" items-per-page="pageInfo.Rows" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

<div>
    <a data-ng-href="/Message/Create" class="btn btn-primary" style="float:right;">Create</a>
</div>