<div class="jumbotron">
    <form method="GET" role="form" data-ng-submit="SearchMessages(searchCriteria)">

        <div class="row">
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Title" data-ng-model="searchCriteria.Title" />
            </div>

            <div class="col-sm-6">
                <select class="form-control" data-ng-model="searchCriteria.Category" data-ng-options="category.id as category.name for category in categoryddlist">
                    <option value="">Select Category</option>
                </select>
            </div>
            <p><br></p>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Tags" data-ng-model="searchCriteria.Tag" />
            </div>
            <div class="col-sm-6">
                <select class="form-control" data-ng-model="searchCriteria.SubCategory" data-ng-options="subCategory.id as subCategory.name for subCategory in subCategoryddlist | filter: subCategory.parentid: searchCriteria.Category">
                    <option value="">Select Sub Category</option>
                </select>
            </div>
            <p><br></p>
        </div>

        <div class="row">
            <div class="col-sm-6"></div>

            <div class="col-sm-6">
                <button type="submit" class="btn btn-default" style="float:right; margin-right: 10px;">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div data-ng-repeat="message in messages">
        <div>
            <div><a data-ng-href="/Message/Detail/{{message.id}}">{{message.title}}</a></div>
            <div>{{message.contentConcat}}</div>
            <div>-created by: {{message.createdBy}}, {{message.createdDate | date : mediumDate}}</div>
        </div>
    </div>
</div>

<div>
    <a data-ng-href="/Message/Create" class="btn btn-default">Create</a>
</div>